* {
    font-family: sans-serif;
    color: dimgray;
}

body {
    background-image: url("../images/Paper-Background-Texture.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.header_image{
    width: 25%; length: 25%;
    float: left;
    margin: 10px;
}

.contact {
    float: right;
    font-family: fantasy;
    font-size: x-large;
    color: darkslategray;
    margin: 10px;
}

.contact:hover{
    color: cadetblue;
}

.header {
    font-family: fantasy;
    font-size: xx-large;
    text-align: left;
    color: darkslategray;
    margin: 10px;
}

.footer {
    font-family: fantasy;
    font-size: x-large;
    text-align: left;
    color: darkslategray;
}

/* TODO .bw_wrap{

}*/

#transition_1 {

}

.message_area{
    min-height: 200px;
    min-width: 50%;
}

.form_area{
    min-width: 200px;
}