* {
    font-family: sans-serif;
    color: dimgray;
}

body {
    background-image: url("../images/Paper-Background-Texture.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.contact{
    float: right;
    font-family: fantasy;
    font-size: x-large;
    color: darkslategray;
}

.header {
    font-family: fantasy;
    font-size: xx-large;
    text-align: left;
    color: darkslategray;
    margin: 10px;
}

.footer{
    font-family: fantasy;
    font-size: x-large;
    text-align: left;
    color: darkslategray;
}

/* TODO .bw_wrap{

}*/

#contact_me {
    font-size: large;
    text-align: left;
    color: aqua;
}