*{
    font-family: serif;
}
.header{
    font-family: fantasy;
    font-size: xx-large;
    text-align: center;
    color: slategray;
}
#personal_info{
    font-family: fantasy;
    font-size: large;
    text-align: center;
    color: slategray;
}